body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1a19;
    background: #fafafa;
    border-top: 5px solid #322c29;
    margin: 0;
    line-height: 1.4;
}

input, select, textarea, button {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
    outline: 0;
    box-shadow: none;
    border: 1px solid transparent;
    padding: .5em 1.2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
    background: #fff;
}
input[type="submit"], button {
    cursor: pointer;
}

:focus {
    outline: none;
}
.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}
.pagination-table{
    margin: 10px 0 10px 100px;
    border:none;
}
.pagination-table td{
    padding:0 2px !important;
    border:none;
}
.pagination-table td a,.pagination-table td span, .btn-search{
    border-radius:3px;
    color:#fff;
    padding:5px 10px;
    background:#01bfc4;
    text-decoration:none;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}
.pagination-table td span{
    background:#0184a9;
}
.pagination-table td a:hover, .btn-search:hover{
    background:#0184a9;
    cursor:pointer;
}
.btn-search{
    padding:10px;
    border:none;
}
.form-control{
    padding:5px;
    width:500px;
    margin-bottom:15px;
    border:1px solid #01bfc4;
}
.navbar-brand{
    font-size: 60px;
    text-decoration:none;
    color:#0184a9;
}
.nav-header{
    width:100%;
    padding-top:120px;
    height:100px;
    margin-top:80px
}
.col-lg-12{min-height: 650px !important;}
.table td, th{border:none !important;}
.art-desc{color:#999; font-size:14px;}

.navbar-default{
    background: #a9e8db !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.fileInfo{
    max-width:600px;
    margin-left:65px;
}

.button {
    text-transform: lowercase;
    font: bold 12px/21px Arial, Helvetica, sans-serif;
    margin: 6px;
    cursor: pointer;
}
.but-orange {
    color: #fff;
    background-color: #ff6a1c;
}
.but-orange:hover {
    background-color: #393431;
}
.but-gray {
    color: #fff;
    background-color: #393431;
}
.but-gray:hover {
    background-color: #ff6a1c;
}