body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1a19;
    background: #fafafa;
    border-top: 5px solid #322c29;
    margin: 0;
    line-height: 1.4;
}

input, select, textarea, button {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
    outline: 0;
    box-shadow: none;
    border: 1px solid transparent;
    padding: .5em 1.2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
    background: #fff;
}
input[type="submit"], button {
    cursor: pointer;
}
ul, ol {
    list-style: none;
}
label {
    line-height: 2.5;
}
h1, h2, h3 {
    color: #000;
    color: rgba(0,0,0,0.75);
    letter-spacing: -0.5px;
    word-spacing: .2em;
    text-shadow: none;
}
h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    font-family: "Myriad Pro", serif;
    line-height: 21px;
    padding: 0 0 22px;
    margin: 0 0 25px;
    border-bottom: 1px solid #e8e8e8;
    letter-spacing: -1.1px;
}
a {
    transition: color 600ms ease-in-out;
    -webkit-transition: color 600ms ease-in-out;
    -moz-transition: color 600ms ease-in-out;
    -o-transition: color 600ms ease-in-out;
    text-decoration: none;
    outline: none;
}
a:hover {
    transition: color 10ms ease-in-out;
    -webkit-transition: color 10ms ease-in-out;
    -moz-transition: color 10ms ease-in-out;
    -o-transition: color 10ms ease-in-out;
}

:focus {
    outline: none;
}

.page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    background-color: #f5f5f3;
}
.clear {
    clear: both;
    float: none;
}

/********* Header ********/
.header-container, header.fixed {
    background-color: #ffffff;
}
.header-container {
    background: #fff;
    color: #656565;
    position: relative;
}
.top-switch-bg {
    background: #f9f9f9;
    min-height: 29px;
    position: relative;
    z-index: 20;
    display: inline-block;
    width: 100%;
}
.row {
    margin: 0 auto;
    max-width: 1200px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.grid_6, .grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin: 0 15px;
    min-height: 1px;
}
.grid_6 {
    width: 570px;
}
.grid_12 {
    width: 1170px;
}
.links {
    float: right;
    margin: 0;
    padding: 0;
}
.links li {
    margin: 0;
    padding: 0 12px;
    line-height: 29px;
    display: inline;
    border-right: 1px groove rgba(29, 28, 27, 0.35);
    cursor: pointer;
    position: relative;
}
.header-container .links li a, .header-switch span, .links li {
    color: rgba(29, 28, 27, 0.65);
}
.header-container .links li a:hover,
.block .block-content a:hover,
.block .block-content li a:hover,
.block .block-content li.item a:hover,
.cms-index-index .block .block-content a:hover,
.cms-index-index .block .block-content li a:hover,
.cms-index-index .block .block-content li.item a:hover,
.block-layered-nav .block-content dd li a:hover,
.product-view .product-shop .no-rating a:hover,
.product-view .product-shop .ratings a:hover,
.product-view .box-up-sell .product-name:hover,
.data-table td a:hover,
.header-container .links li.active,
.header-container .links li.signin:hover,
.left-block li a:hover {
    color: #ff6a1c;
}
.links li a:hover {
    color: #777;
    text-decoration: none;
}
.links li:last-child {
    border: none;
}
.links ul li {
    display: block;
    border: none;
}
.links li ul:before {
    top:-13px;
}
.links ul li a:before, .left-block li a:before {
    content: '>';
    margin-right: .5em;
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    transform: scaleX(0.7);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    display: inline-block;
}
.header-wrapper {
    /*height: 114px;*/
}
header {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    width: 100%;
}
header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}
header a.logo {
    text-decoration: none;
    margin: 34px 0;
    float: none;
    display: inline-block;
}

.nav-container {
    /*position: relative;
    z-index: 10010;*/
    display: inline-block;
}
.nav-container nav {
    width: 750px;
    margin: 31px 0 34px 46px;
    padding: 0;
    position: relative;
    border: none;
    float: left;
}

.top-dropdowns {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
}

/********* Search *********/
.search-top-container {
    float: right;
    position: relative;
    margin: 0 0 0 4px;
}
.search-top, .search-top-container .search-form .search-top-title span.icon {
    background-size: 18px 18px;
}
.search-top {
    display: block;
    overflow: hidden;
    background: #ff6a1c url('../images/icon_search.png') 50% 50% no-repeat;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.search-top:hover {
    background-color: #322c29;
}
.search-form, .links ul {
    background: #fff;
    /*width: 240px;*/
    padding: 8px;
    position: absolute;
    right: 0;
    white-space: nowrap;
    text-align: left;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-top: 4px solid #ff6a1c;
    opacity: 0;
    transform-origin: 50% 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
}
.search-form {
    top: 45px;
}
.search-top:after, .links li ul:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: #ff6a1c;
    height: 0;
    width: 0;
    right: 14px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.search-top:after {
    top: 35px;
}
.search-top-container:hover > .search-form,
.search-top-container:hover > .search-top:after,
.links li:hover > ul,
.links li:hover > ul:before {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.search-form button {
    display: none;
}
.search-form form {
    margin-bottom: 0;
}
#search {
    width: 224px;
    padding: 4px 7px;
    border: 1px solid #e3e3e3;
    line-height: 19px;
    color: #7b7b7b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/********* Search *********/


/********* /Header ********/

/********* Content ********/
.content {
    background-color: #fafafa;
    display: inline-block;
}
.page-title {
    margin: 20px 15px;
    display: initial;
}
.page-title h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Myriad Pro",serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5px;
    color: #000;
    padding: .1em 1em;
}
/********* Left block ********/
.left-block, .right-block {
    margin: 30px 15px;
    float: left;
}
.left-block, .center-block {
    padding: 23px 20px;
    position: relative;
    background: #fff;
    border: none;
    border-top: 6px solid #ff6a1c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
}
.left-block {
    width: 230px;
}
.left-block ul {
    padding-left: 0;
}
.left-block li a {
    color: #322c29;
}
.active-link {
    font-weight: bold;
}

/********* /Left block ********/

/******** Right block *********/
/******** /Right block *********/
.center-block {
    margin: 30px auto;
    width: 70%;
}
/********* Add book form ********/
.right-box, .left-box {
    width: 49%;
    margin-bottom: 30px;
}
.left-box {
    border-right: 1px dashed #ccc;
    float: left;
}
.right-box {
    float: right;
}
.edit-form  input[type="text"],
.edit-form  input[type="search"],
.edit-form  input[type="password"],
.edit-form  select,
.edit-form  textarea {
    padding: 4px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: inset 0 0 5px 0 #eaeaea;
    -moz-box-shadow: inset 0 0 5px 0 #eaeaea;
    box-shadow: inset 0 0 5px 0 #eaeaea;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #fafafa;
    float: right;
}
.edit-form input[type="text"],
.edit-form input[type="search"],
.edit-form input[type="password"],
.edit-form select,
.edit-form .short textarea,
.edit-form input[type="file"] {
    width: 75%;
}
.edit-form input[type="file"] {
    float: right;
}
.edit-form .short input[type="text"],
.edit-form .short input[type="search"],
.edit-form .short input[type="password"],
.edit-form .short select {
    width: 50%;
}
.edit-form .label-float {
    width: auto;
}
.edit-form textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 5px;
}
.edit-form label {
    width: 90%;
    padding-right: 35px;
    margin: 0 5%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}
.edit-form h3, .label-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.8;
}
.edit-form h3 {
    margin-left: 5%;
}
.label-title {
    float: left;
    color: #000;
    color: rgba(0,0,0,0.75);
    letter-spacing: -0.5px;
    word-spacing: .2em;
    text-shadow: none;
}
.help {
    background-color: #525252;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    width: 28px;
    display: inline-block;
    height: 28px;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 200ms ease-in-out;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 20;
}
.help:hover {
    background-color: #ff6a1c;
}
.edit-form .text-core {
    display: inline-block;
    float: right;
    width: 75%;
}
.edit-form .text-wrap {
    float: right;
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 10;
}
.edit-form .add-new {
    float: right;
    margin-right: 0;
    margin-top: 19px;
}

.progress-container{
    width:50%;
    height:10px;
    border:1px solid #b3b3b3;
    border-radius: 5px;
}
.progress-bar {
    width:0;
    background-color: rgba(255, 0, 0, 0.48);
    height:inherit;
}
.lang:before {
    content: '';
    width: 24px;
    height: 17px;
    display: inline-block;
    background: no-repeat left top;
    margin-right: 3px;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}
.lang-ua:before {
    background-image: url("/resources/images/ua.jpg");
}
.lang-en:before {
    background-image: url("/resources/images/en.jpg");
}
.lang-ru:before {
    background-image: url("/resources/images/ru.jpg");
}

/********* /Add book form ********/

.main-container, .footer-container .product-slider-container {
    background-color: #ffffff;
}
.col-main, .col-main-left, .col-main-right {
    border: none;
    padding: 30px 15px 0;
    margin: 0;
}
/********* /Content ********/

/********* Error block ********/
.errorblock {
    color:#f00;
    text-align: center;
}
.errorblock ul {
    padding: 0;
    display: inline-block;
    width: 100%;
}
.errorblock ul li {
    list-style: none;
    border-bottom: 1px dashed #f00;
    text-align: left;
    margin-bottom: .5em;
}

.block-login .errorblock li {
    background: url("../images/error_arrow.png") no-repeat left top;
    padding-left: 13px;
}
/********* /Error block********/

.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}
.pagination-table{
    margin: 10px 0 10px 100px;
    border:none;
}
.pagination-table td{
    padding:0 2px !important;
    border:none;
}
.pagination-table td a,.pagination-table td span, .btn-search{
    border-radius:3px;
    color:#fff;
    padding:5px 10px;
    background:#01bfc4;
    text-decoration:none;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}
.pagination-table td span{
    background:#0184a9;
}
.pagination-table td a:hover, .btn-search:hover{
    background:#0184a9;
    cursor:pointer;
}
.btn-search{
    padding:10px;
    border:none;
}
.form-control{
    padding:5px;
    width:500px;
    margin-bottom:15px;
    border:1px solid #01bfc4;
}
.navbar-brand{
    font-size: 60px;
    text-decoration:none;
    color:#0184a9;
}
.nav-header{
    width:100%;
    padding-top:120px;
    height:100px;
    margin-top:80px
}
.col-lg-12{min-height: 650px !important;}
.table td, th{border:none !important;}
.art-desc{color:#999; font-size:14px;}

.navbar-default{
    background: #a9e8db !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.fileInfo{
    max-width:600px;
    margin-left:65px;
}

.button {
    text-transform: lowercase;
    font: bold 12px/21px Arial, Helvetica, sans-serif;
    margin: 6px;
    cursor: pointer;
}
.but-orange {
    color: #fff;
    background-color: #ff6a1c;
}
.but-orange:hover {
    background-color: #393431;
}
.but-gray {
    color: #fff;
    background-color: #393431;
}
.but-gray:hover {
    background-color: #ff6a1c;
}

.req-star {
    color: #f00;
    padding: 0 .2em;
}


/************* Media screen **********/
@media screen and (max-width: 480px) {
    .left-box, .right-box {
        width: 100%;
        float: none;
    }
    .left-box {
        border-right: none;
    }
}

@media screen and (max-width: 600px) {
    .edit-form .short input[type="text"],
    .edit-form .short input[type="search"],
    .edit-form .short input[type="password"],
    .edit-form .short select,
    .edit-form input[type="text"],
    .edit-form input[type="search"],
    .edit-form input[type="password"],
    .edit-form select,
    .edit-form .short textarea,
    .edit-form input[type="file"],
    .edit-form .text-core {
        width: 100%;
    }
    .help {
        top: 25px;
    }
}

@media screen and (max-width: 960px) {
    .left-box, .right-box {
        width: 100%;
        float: none;
    }
    .left-box {
        border-right: none;
    }
}